@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
/* ================================================ Manu========================================================== */
.lproduct{
    width: 90% !important;
}
.main-manu{
   position: fixed;
   background: lightgray;
   width: 100%;
   z-index: 99;
}
.manu-bar{
    background: lightgray;  
}
.mamubar-icon{
    font-size: 25px;
}
.mamubar-icon span{
    font-size: 15px;
}
.link{
    text-decoration: none;
}
/* ================================================ Banner========================================================== */
.bann-slider{
    padding: 130px 0;
}
.banner-text{
    color: white;
}
.banner-text h1{
    color: #de4644;
    font-size: 60px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}
.banner-text h2{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}
.banner-text p{
    width: 540px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 60px;
    font-size: 18px;
}
.bann-button{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 15px 30px;
    border: 2px solid #ffffff;
    border-radius: 0;
    margin-right: 10px;
    color: #ffffff;
    text-decoration: none;
}
.bann-button2{
    background: #de4644;
    color: black;
    
}
.bann-button2:hover{
   background: transparent; 
   color: white;
   border: 2px solid #ffffff;
}
.bann-button1:hover{
    background: #de4644;
    color: black;
}
/* ================================================ Sub banner ========================================================== */
.sub-banner{
    width: 100%;
    position: relative;
}
.sub-banner img{
    width: 100%;
}
.sub-banner::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.389));
}
/* ================================================ offer ========================================================== */
.offer {
    background-color:  #f1f1f1;
}
.offer_items {
    padding: 30px 10px;
    color: #444444;
}
.offer_items p {
    margin-top: 20px;
}

.offer_items:hover .icon {
    color: #de4644;
    transition: all 0.5s ease;
}

.icon{
    font-size: 34px;
}

.icon h4 {
    margin-bottom: 0;
    padding-left: 10px;
    font-weight: 400;
}

.featured-head,
.latest-head{
    margin: 70px 0;
    position: relative;
}

.featured-head h3,
.latest-head h3,
.about-head h3{
    position: relative;
    padding-bottom: 15px;
    text-transform: capitalize;
}

.featured-head h3::after,
.latest-head h3::after,
.about-head h3::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 41%;
    height: 1px;
    width: 130px;
    background-color: #de4644;
}

.featured-head h3::before,
.latest-head h3::before,
.about-head h3::before{
    position: absolute;
    content: '';
    bottom: -10px;
    left: 41%;
    height: 1px;
    width: 80px;
    background-color: #de4644;
}

.featured_img {
    overflow: hidden;
}

.featured_img img {
    width: 100%;
    transform: scale(1);
    transition: all 0.8s;
}

.featured_img:hover.featured_img img {
    transform: scale(1.2);
    transition: all 0.8s;

}

.featured_items {
    position: relative;
}

.featured_overley {
    position: absolute;
    bottom: 3%;
    left: 5%;
    background-color: rgba(29, 28, 28, 0.836);
    height: 34%;
    width: 90%;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
}


.featured_overley_text .btn {
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #f1f1f1;
    border: 2px solid #dddddd;
    border-radius: 5px;
    padding: 10px 15px;
    transition: all 0.5s ease;
    margin-top: 5px;
}

.featured_overley_text .btn:hover {
    background-color: #de4644;
    border: 2px solid #dddddd;
}

.featured_overley_text h3 {
    margin: 10px 0;
}

.featured_items h6 {
    background-color: #fff;
    margin-bottom: 0;
    width: 130px;
    text-align: center;
    padding: 2px 0;
    position: absolute;
    top: 30px;
    left: -30px;
    transform: rotate(-50deg);
    color: #de4644;
}
/* ================================================ Product ========================================================== */
.product{
   padding: 70px 0;
}
.product-item{
    font-size: 45px;
    font-weight: 700;
    color: #252525;
    text-transform: uppercase;
}
.product ul{
    text-align: right;
}
.product ul li{
    display: inline-block;
}
.product ul li .link{
    padding: 25px 20px;
    color: #252525;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    
}
.product ul li .link::after{
    position: absolute;
    content: '';
    top: 50%;
    left: 8px;
    width: 4px;
    height: 4px;
    background: #fc9d9d;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
   
}
.product ul li .link:hover::after{
    width: 90%;
}
.product ul li:last-child .link{
    padding-right: 0;
}
.product ul li:first-child .link:hover::after{
    width: 75%;
}
.product ul li:last-child .link:hover::after{
    width: 100%;
}
/* ================================================ Manu========================================================== */
.quantity{
    width: 180px;
    margin-left: 50px;
}
.addcart{
    width: 100%;
    background: #f0c14b !important;
    color: black !important;
}
.button{
    margin: 0;
    padding: 0 !important;
}
.button1{
    width: 48%;
    background: #dc3545;
    color: #ffffff;
    padding: 5px 0;
}
.button2{
    width: 48%;
    background: #f0c14b !important;
 
    padding: 5px 0;
}
.button2 .button-text{
    text-decoration: none;
    color: black !important;
}
.order-button{
    width: 100%;
    background: #f0c14b;
    color: black;
    padding: 5px 0;
}
.surface {
    background-color: #f1f1f1;
    padding: 50px 0;
    margin: 70px 0;
}

.surface_text{
    padding-left: 20px;
}
.surface_text h4 {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0;
    color: #222222;

}

.surface_text h2 {
    text-transform: uppercase;
    font-weight: 500;
    color: #de4644;
    font-size: 40px;
}

.surface_text p {
    padding: 10px 0;
    max-width: 670px;
    line-height: 25px;
    color: #444444;
    font-size: 16px;
}

.launch_counter h3 {
    text-transform: uppercase;
    padding: 15px 0;
}

.counter_box {
    display: flex;
}

.counter_items {
    padding: 5px 20px;
    margin-right: 10px;
    text-align: center;
    border: 2px solid #444444;
}

.counter_items p,
.counter_items span {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 0;
    color: #444444;
}
.latest-head h3::before{
    left: 43%;
}
.latest-head h3::after{
    left: 43%;
}

/* ================================================ Contact ========================================================== */
.contact {
    background-color: #353535;
    padding: 50px 0;
    margin-top: 60px;
}

.contact_items {
    color: #dddddd;
}

.contact_items h5 {
    text-transform: uppercase;
    padding: 20px 0;
}

.contact_items a {
    display: block;
    color: #dddddd;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 11px;
}

.contact_items a:hover {
    color: #de4644;
    margin-left: 10px;
}

.contact_items p {
    line-height: 30px;
}

.contact_address,
.contact_link {
    padding-top: 30px;
}

.contact_address p {
    margin-bottom: 16px;
}

.contact_items .form-control {
    padding: 10px;
    background-color: transparent;
    border: 2px solid #dddddd;
    border-radius: 0;
    color: #dddddd;
}

.form-control::placeholder {
    font-style: italic;
}

.email_box:focus {
    outline: none !important;
}
.contact_items .sub-btn {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    padding: 10px 15px;
    margin-left: -10px;
    border-radius: 0;
    background-color: transparent;
    color: #dddddd;
    border: 2px solid #dddddd;
}

.contact_items .sub-btn:hover {
    background-color: #de4644;
    color: #dddddd;
}
.follow_link ul{
    margin: 0;
    padding: 0;
}
.follow_link ul li {
    display: inline-block;
}

.follow_link {
    padding-top: 25px;

}

.follow_link h5 {
    margin-bottom: 20px;
}

.follow_link li {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #dddddd;
    color: #222222;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    margin-right: 15px;
}

.follow_link li:hover {
    margin-left: 0;
    background-color: #de4644;
    color: #dddddd;
}
.contact-icon span{
    color: #dc3545;
    padding-right: 10px;
    font-size: 20px;

}
.login-link {
    color: #de4644;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.empty-cart{
    margin-top: 30px;
    margin-bottom: 180px !important;
    
}

/* ================================================ About========================================================== */
.bann-text{
    color: white;
    text-transform: uppercase;
    padding: 90px 0;
}
.about_box {
    position: relative;
}

.about_text {
    background-color: #020202;
    position: absolute;
    left: 74%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #dddddd;
    padding: 60px 30px;
}

.about_text p {
    margin-bottom: 30px;
}

.about_counter{
    margin-bottom: 50px;
    width: 100%;
}

.about_counter_items {
    padding: 50px 0;
    color: #dddddd;
    text-align: center;
}
.about_counter_items h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.about_counter_items h6 {
    text-transform: capitalize;
}
.about-head h3::after{
    left: 44%;
}
.about-head h3::before{
    left: 44%;
}
.designer_text {
    text-align: center;
    padding: 20px 60px;
    border: 2px solid #777777;
    border-top: none;
    opacity: 0;
    margin-top: -94px;
    transition: all linear 0.5s;
}

.designer_items {
    transform: translateY(0px);
    transition: 0.5s;
}

.designer_items:hover {
    transform: translateY(-30px);
}

.designer_items:hover .designer_text {
    opacity: 1;
    margin-top: 0px;

}

/* ================================================ Registration========================================================== */
.registration-item,
.login-item{
    box-shadow: 5px 5px 10px rgb(177, 172, 172);
    padding: 60px 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.registration-item .form-label,
.login-item .form-label{
    font-size: 20px;
    font-weight: 600;
}
.registration-item input,
.login-item input{
    padding: 15px 10px;
}
.registration-item .password,
.login-item  .password{
    position: relative;
}
.registration-item .password h5,
.login-item .password h5{
	position: absolute;
	top: 44px;
	right: 18px;
	font-size: 22px;
}
 .errormessage{
    color: #dc3545;
}
.success{
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
}
/* ================================================ Login ========================================================== */


.login-item h3{
    background: transparent;
    color: #252525;
    font-size: 35px;
    padding: 5px 10px;
    border: 1px solid gray;
    display: inline-block;
    cursor: pointer;
}
.login-item span{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.forgotpassword{
    color: #de4644;
    cursor: pointer;
}



